header h1{
    font-size: 72pt;
    font-family: Helvetica;
    text-align: center;
}
.nagar a{
    text-decoration: none;
    font-size: 36pt;
    font-family: Helvetica;
    padding: 14px 10px;    
}
.nagar li a{
    color: #ffffff;
}
.nagar li{
    list-style: none;
    display: inline;
}
.nagar ul{
    padding: 14px;
}
.nagar{
    background-color:#61D5E4 ;
    height: 84px;
}
article{
    margin-left: 8%;
    margin-top: 15%;
}
article h1{
    font-size: 72pt;
    font-family: 'Helvetica';
    margin-bottom: 20px;
}
span{
    color:#61D5E4 ;
}
article p{
    font-family:'Gill Sans MT';
    font-size: 24pt;
}
.gambar{
    margin-left: 8px;
    margin-bottom: 100px;
    
}
.email{
    width: 92px;
    height: 88px;
}
.git{
    width: 92px;
    height: 88px;
}
.ig{
    width: 92px;
    height: 88px;
}
.pp{
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 0;
    right: 100px;
    padding-left: 20px;    
}
footer{
    background-color: #000;
    height: 84px;
}
footer p{
    font-size: 24pt;
    color: #ffffff;
    text-align: center;
}